@model string
@{
    ViewBag.Title = "Painel de utilizador";
}
<body class="bodyuserpanel">

    <table style="border-width: 2px; width: 150px; float:left">
        <tr>
            <td>
                <p style="margin-top:60%" class="titleLocation">Anúncios</p>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
                <input type="button" style="height: 100px; width:200px" class="btn btn-warning" value="Novo Anúncio" onclick="location.href = '@Url.Action("ViewProperty", "Property")'" />
            </td>
            <td>&ensp;</td>
            <td>
                <p></p>
                <input type="button" style="height:100px; width:200px" class="btn btn-warning" value="Ver Anúncios" onclick="location.href = '@Url.Action("ListProperties", "Property")'" />
            </td>
        </tr>
    </table>

    <table style="border-width: 2px; width: 150px;margin-left:75%">
        <tr>
            <td>
                <p class="titleLocation">Alterar Dados</p>
            </td>
        </tr>
    </table>
    <div style="float: left; margin-left:20%; ">
        <label style=" color:#a63800" for="exampleinputemail1">Email</label>

        @using (Html.BeginForm("UserPanel", "Users"))
        {
            <br />
            <br />
            <div style="font-weight: bold; width: 300px" class="form-group">
                <label style=" color:#a63800" for="exampleinputemail1">Novo Email</label>
                @Html.TextBox("newEmail", null, new { @class = "form-control" })

            </div>
            <div style="font-weight: bold; width: 300px" class="form-group">
                <label style=" color:#a63800" for="exampleinputpassword1">Nova Password</label>
                @Html.Password("password", null, new { @class = "form-control" })

            </div>


            <div style="font-weight: bold; width:300px" class="form-group">
                <label style=" color:#a63800" for="exampleinputpassword1">Repetir Nova Password</label>
                @Html.Password("password2", null, new { @class = "form-control" })

            </div>

            <div>
                <input class="btn btn-warning" type="submit" value="Gravar Alterações" />

            </div>
        }
        <br /><br />


    </div>



</body>

