<!DOCTYPE>
@{
    ViewBag.Title = "Anúncios";
}

<body style="background-color:black">
    <div style="width: 30%; height: 100%; background-color: blue; float: left">
        <h4><strong>Pesquisa</strong></h4>

        <ul>
            <li>Tipologia</li>
            <li>Cidade</li>
            <li>Concelho</li>
            <li>Freguesia</li>
            <li>Área</li>
            <li>Nº Wc</li>
            <li>Preço</li>
        </ul>
        <h5><strong>Características:</strong></h5>
        <ul>
            <li>Mobilado <input type="checkbox" name=alinhamento value="esquerda"></li>
            <li>Equipado <input type="checkbox" name=alinhamento value="esquerda"></li>
            <li>Piscina <input type="checkbox" name=alinhamento value="esquerda"></li>
            <li>Garagem @Html.CheckBox("Teste")</li>
            <li>Varanda @Html.CheckBox("Teste")</li>
            <li>Elevador @Html.CheckBox("Teste")</li>
            <li>Porteiro @Html.CheckBox("Teste")</li>
            <li>Jardim @Html.CheckBox("Teste")</li>
            <li>Animais @Html.CheckBox("Teste")</li>

        </ul>
    </div>
    <div class="list_property">

        <div style="height: 30%; background-color: red">
            MAPA
        </div>

        <p>LISTA DAS CASAS</p>

        <table align="center">
            <tr class="line_table_list_property">
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td class="line_table_list_property" colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr class="line_table_list_property">
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td class="line_table_listagem_anuncios" colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr class="line_table_list_property">
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td class="line_table_listagem_anuncios" colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
            </tr>
        </table>
    </div>
</body>
