<!DOCTYPE>
@{
    ViewBag.Title = "Anúncios";
}
<link rel=”stylesheet” type=”text/css” href=”Site.css” />
<body style="background-color:black">
    <div style="width: 30%; height: 100%; background-color: blue; float: left">
        <h4><strong>Pesquisa</strong></h4>
        <table>
            <tr>
                <td>Tipologia </td>
                <td>
                    <select class="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>>5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td>
                    <select class="select">
                        <option>Lisboa</option>

                    </select>
                </td>
            </tr>

            <tr>
                <td>Concelho</td>
                <td>
                    <select class="select"></select>
                </td>
            </tr>
            <tr>
                <td>Freguesia</td>
                <td>
                    <select class="select"></select>
                </td>
            </tr>
            <tr>
                <td>Nº Wc</td>
                <td>
                    <select class="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>>5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Área</td>
                <td><input type="range" name="range1" min="50" max="500" step="20" value="100" /></td>
            </tr>
            <tr>
                <td>Preço</td>
                <td><input type="range" name="range1" min="50" max="500" step="20" value="100" /></td>
            </tr>
        </table>
        <h5><strong>Características:</strong></h5>
        <table>

            <tr>
                <td>Mobilado</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Equipado</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Piscina</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Garagem</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Varanda</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Elevador</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Porteiro</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Jardim</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Animais</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
        </table>
        <button type="button" class="btn btn-warning">Warning</button>
    </div>
    <div class="list_property">

        <div style="height: 30%; background-color: red">
            MAPA
        </div>

        <p>LISTA DAS CASAS</p>

        <table align="center">
            <tr class="line_table_list_property">
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td class="line_table_list_property" colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr class="line_table_list_property">
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td class="line_table_list_property" colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr class="line_table_list_property">
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td class="line_table_list_property" colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
                <td colspan="2"></td>
                <td colspan="2">
                    <a href="@Url.Action("Imovel")"><img src="~/content/images/imovel.jpg" width="200" height="150" /></a>
                    <br />
                    Descrição
                </td>
            </tr>
        </table>
    </div>


</body>
